body {
    font-family: sans-serif !important;
    margin: 0px;
}
.wd-flex-row-container {
    display: flex;
    flex-direction: row;
    /* width: 85px; */
}

/*
.navigation-bar {
    width: 85px;
    background-color: black;
}

.wd-no-bullet-list {
    list-style: none;
    padding: 0px;
    text-align: center;
    font-size: 0.85em;
}

.wd-no-bullet-list li {
    margin-top:10x;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-no-bullet-list a {
    height: 100%;
    width: 100%;
    display: block;
    color: white;
    text-decoration: none;
}

.wd-no-bullet-list p {
    margin: 0px;
    border: none;
}

#navigation-selected {
    background-color: white;
}

#navigation-selected a {
    color: red;
}

.fas {
    color: red;
    margin: 5px;
}

