body {
    font-family: sans-serif !important;
    margin: 0px;
}
.wd-flex-row-container {
    display: flex;
    flex-direction: row;
    /* width: 85px; */
}

.courses-tab {
    margin-left: 30px;
    flex-grow: 1;
}

.courses-header {
    height: 30px;
    font-size: 1em;
    margin-top: 10px;
    color: red;
}

.courses-content {
    display: flex;
    flex-direction: row;
}

.course-bar {
    width: 200px;
}

.courses-subtitle {
    font-style:italic;
    font-size: 0.75em;
    margin-bottom: 10px;
}

.courses-header .fa-bars {
    margin-right: 30px;
}

.courses-header .fa-chevron-right {
    color: gray;
}

.wd-no-bullet-list-courses {
    list-style: none;
    padding: 0px;
    font-size: 1em;
    margin-right: 30px;
}

.wd-no-bullet-list-courses li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
}

.wd-no-bullet-list-courses a{
    text-decoration: none;
    color: red;
}

.wd-no-bullet-list-courses a:hover{
    text-decoration: underline;
}

#courses-selected {
    border-left: solid black 2px;
}

#courses-selected a {
    color: black !important;
}

.fa-eye-slash {
    color: gray !important;
}

.course-content-list-buttons {
    width: 100%;
    margin-right: 30px;
}

.course-content-list .fa-grip-vertical {
    color: black;
}

.course-content-list .fa-link {
    color: green;
}

.course-content-list .fa-check-circle {
    color: green;
}

.course-content-list .fa-ellipsis-v {
    color: black;
}

.course-content-list-heading .fa-plus {
    color:black !important;
}

.course-content-list-indent-link a {
    color: red;
    text-decoration: none;
}

.courses-buttons .btn{
    margin-left: 5px;
}

.fa-check-circle {
    color: green;
}

.fa-plus {
    color: white !important;
}

.courses-buttons .fa-ellipsis-v {
    color: white !important;
}

.course-status {
    display:flex;
    flex-direction: column;
    margin-right: 30px;
}

.course-status .fa-ban {
    color: black;
}

.course-status .fa-check-circle {
    color: white;
}

.publish-button {
    margin-bottom: 20px;
}

.course-status-button-list {
    list-style: none;
    padding-left: none;
}
.course-status-button {
    margin-bottom: 10px;
}

.course-status-button .fa-file-import {
    color: black !important;
}

.calendar-status {
    font-size: 0.7em;
    color: red;
}

.course-status-reg {
    color: red;
}

.course-status-reg .fa-calendar {
    color: black;
}

.course-status-small {
    color: gray;
    font-size: 0.7em;
}

